*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/.name
/build
/app/src/main/libs
/app/src/main/obj
/captures
.~lock.*
.o
*~

#############################
# Arquivos Gerados pelo OSX #
#############################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
